body {
	background-image: url(_images/background_lined.jpg)

}

#wrapper {

	width: 1200px;
	min-height: 1500px;
	margin-left: 100px;
	background-color: white;
	position: relative;
}

.subwrapper {
	width: 950px;
	height: 100%;
	margin-top: 50px;
	margin-left: 100px;
	border: 8px solid white;
}

.header { 

	height: 150px;
	width: 100%;
	background-color: #ffc63c;
	border-bottom: 8px solid #ffa162;

}

.nav_main	{
	color: white;
	padding-top: 65px;
	padding-left: 300px;
	float: left;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li	{
	display: inline;
	padding-right: 70px;
}

.nav_bar a	{
	font-family: "Verdana", sans-serif;
	font-size: 16px;
	color: white;
	text-decoration: none;
}

.nav_bar	a:hover {
	color: #ed5628;
	text-decoration: none;
}


.content {
		box-sizing: border-box;

}

.footer {
	height: 180px;
	width: 1200px;
	background-color: #ffc63c;
	border-top: 8px solid #ffa162;
	position: absolute;
    bottom: 0;
}

.footer	a  {
	color: white;
	text-decoration: none;
	font-family: verdana;
	margin-left: 200px;
}

.footer	a:hover  {
	color: #ed5628;
	text-decoration: none;
}

/*Index page specific*/

.slider {
	height: 300px;
	width: 950px;
	/*margin: 50px auto;*/
	position: relative;
}

#image {

	height: 300px;
	width: 950px;
	position: absolute;

}

.slide_img {

}

.left_holder {
	height: 300px;
	width: 100px;
	position: absolute;
	left: 0px;
	top: 0px;

}

.right_holder {
	height: 300px;
	width: 100px;
	position: absolute;
	right: 0px;
	top: 0px;

}

.left_arrow {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 40%;
	left: 0px;
}

.right_arrow {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 40%;
	right: 0px;
}

.quote_section {
	width: 200px;
	height: 200px;
	margin-top: 140px;
	margin-bottom: 80px;
	margin-right: 50px;
	margin-left: 50px;
	border-radius: 15%;
	float: left;
}

.quote_section img {
	width: 100%;
	height: 100%;
}

.quote_section p {
	font-family: verdana;
	font-size: 12px;

}

.donate {
	max-width: 100%;
	max-height: 100%;
	margin-top: 200px;
	text-align: center;

}

.donate img { 
	margin-top: 100px;
	margin-bottom: 100px;
	max-width: 100%;
	max-height: 100%;
}