body {
	background-image: url(_images/background_lined.jpg)

}

#wrapper {

	width: 1200px;
	min-height: 1500px;
	margin-left: 100px;
	background-color: white;
	position: relative;
}

.subwrapper {
	width: 950px;
	height: 100%;
	margin-top: 50px;
	margin-left: 350px;
	border: 8px solid white;
}

.header { 

	height: 150px;
	width: 100%;
	background-color: #63bfb8;
	border-bottom: 8px solid #0c585a;

}

.hdrimg	{
	padding: 30px;
	margin-bottom: 20px;
	margin-left: 400px;
	float: left;
}

.hdrimg img {

	width: 100px;
    height: 100px;

}

.nav_main	{
	color: white;
	padding-top: 65px;
	padding-left: 50px;
	float: left;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li	{
	display: inline;
	padding-right: 70px;
}

.nav_bar a	{
	font-family: "Helvetica", sans-serif;
	font-size: 25px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.nav_bar	a:hover {
	color: #ed5628;
	text-decoration: none;
}


.content {
		box-sizing: border-box;

}

.footer {
	height: 180px;
	width: 100%;
	background-color: #63bfb8;
	border-top: 8px solid #0c585a;
	position: absolute;
	padding-top: 100px;
/*    bottom: 0;*/
	clear: all;
	margin-top: 500px;
}

.footer	a  {
/*	font-family: "Helvetica", sans-serif;
	font-size: 20px;
	color: white;
	text-decoration: none;*/
/*	color: white;
	text-decoration: none;
	font-family: helvetica;
	margin-left: 200px;*/
	font-family: "Helvetica", sans-serif;
	font-size: 20px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	margin-left: 400px;
}

/*Footer text needs margin top and be in line with */

.footer	a:hover  {
	color: #ed5628;
	text-decoration: none;
}

/*Index page specific*/

.slider {
	height: 300px;
	width: 950px;
	/*margin: 50px auto;*/
	position: relative;
}

#image {

	height: 300px;
	width: 950px;
	position: absolute;

}

.left_holder {
	height: 300px;
	width: 100px;
	position: absolute;
	left: 0px;
	top: 0px;

}

.right_holder {
	height: 300px;
	width: 100px;
	position: absolute;
	right: 0px;
	top: 0px;

}

.left_arrow {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 40%;
	left: 0px;
}

.right_arrow {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 40%;
	right: 0px;
}

.quote_section {
	width: 200px;
	height: 200px;
	margin-top: 140px;
	margin-bottom: 80px;
	margin-right: 50px;
	margin-left: 50px;
	border-radius: 15%;
	float: left;
}

.quote_section img {
	width: 100%;
	height: 100%;
}

.quote_section p {
	font-family: helvetica;
	font-size: 12px;

}

.donate {
	max-width: 100%;
	max-height: 100%;
	text-align: center;
	margin-bottom: 100px;

}

.donate img { 
	margin-top: 100px;
	max-width: 100%;
	max-height: 100%;
}

.social_media_title {
	font-family: helvetica;
	text-align: center;
	/*margin-left: 300px;*/
	color: #0c585a;
	font-size: 40px;
	font-weight: bold;	

}
	

.twitter_embed {

	height: 300px;
	width: 300px;
	margin-top: 60px;
	margin-bottom: 300px;
	margin-left: 50px;
	margin-right: 200px;
	float: left;
}

.soundcloud_embed {

	height: 300px;
	width: 300px;
	margin-top: 130px;
	margin-bottom: 200px;
	margin-right: 50px;
	float: left;
}

